<%- include("../partials/header") %>

<div class="container mt-5 text-center">
  <h2>๐ ฤแบทt hรng thรnh cรดng!</h2>
  <p>Cแบฃm ฦกn bแบกn ฤรฃ mua sแบฏm tแบกi Fashion Shop.</p>
  <a href="/" class="btn btn-dark mt-3">Quay lแบกi trang chแปง</a>
</div>
